@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --text-hero: 45.521px;
  --text-hero--letter-spacing: 4.552px;
  --color-hellow-primary: #35495e;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #404040;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@layer utilities {
  .btn-black {
    @apply bg-neutral-800 text-white px-6 py-3 w-[280px] hover:bg-neutral-950 active:bg-neutral-950 active:text-white focus:bg-neutral-950 focus:text-white transition-colors cursor-pointer;
  }
  .btn-gray {
    @apply w-full py-2 bg-white text-neutral-600 border border-neutral-600/50 hover:bg-neutral-600 active:bg-neutral-600 active:text-white focus:bg-neutral-600 focus:text-white hover:text-white transition-colors cursor-pointer;
  }
  .section-titulo {
    @apply text-2xl font-medium tracking-[10px] uppercase;
  }
  .links {
    @apply hover:text-amber-500 cursor-pointer;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: oklch(92.4% 0.12 95.746);
}
